# Dependencies
node_modules/
/yarn.lock
/pnpm-lock.yaml

# Production
dist/
dist-*/
.vite/

# Electron 安装包产物
installer/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build artifacts
*.tar.gz
*.zip

# Testing
coverage/
.nyc_output/

# Misc
*.pem
*.key
